:root {
    --background-color: #021612;
    --btn: #051cee;
    --text: #f7f5f5;
}
.dark {
    --background-color: #e1e1d7;
    --btn: #343a40;
    --text: #e71111; 
}


body {
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
    color: var(--text);
}

body button {
    background-color: var(--btn);
    color: var(--text);
}

.text-menu a {
    color: var(--text);
}

.bg-nav {
    background-color: var(--background-color);
}

.buitton-text {
    color: var(--text);
}
